<h3> Edit your information </h3>

<%= form_for @user do |f| %>
	<%= f.label :fname, "First Name" %>
	<%= f.text_field :fname %>
	<%= f.label :lname, "Last Name" %>
	<%= f.text_field :lname %>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email %>
	<%= f.label :password, "Password" %>
	<%= f.text_field :password %>
	<%= f.submit :submit %>

<% end %>